
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <!-- Logo de la página -->
      <img src="/assets/hypeV4ault.png" alt="Logo" class="img-fluid mb-4 w-50 rounded-circle">

      <!-- Instagram -->
      <h3 class="mb-4">
        <a [href]="instagramUrl" class="text-decoration-none" target="_blank">
          <i class="uil uil-instagram me-2"></i> Sigue nuestro Instagram
        </a>
      </h3>

      <!-- Historia de la página -->
      <p class="story-text">{{ story }}</p>
    </div>
  </div>
</div>
