.container {
  background-color: #f8f9fa;
  /* Fondo claro */
  padding: 3rem 1.5rem;
  border-radius: 1rem;
}

h3 a {
  color: #c13584;
  /* Color del icono de Instagram */
}

h3 a:hover {
  color: #e1306c;
  /* Color al pasar el ratón sobre el enlace */
}

.story-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

img.rounded-circle {
  border: 5px solid #ddd;
  /* Borde alrededor del logo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra alrededor del logo */
}
