<!-- product-card.component.html  -->
<div class="card p-3 shadow-sm">
  <div class="row align-items-center">
    <div class="col-md-2 d-flex justify-content-center align-items-center mb-2">
      <a [href]="product.link" target="_blank" rel="noopener noreferrer">
      <img [src]="product.urlImagen"  alt="{{ product.productName }}" class="img-thumbnail w-75">
      </a>
    </div>
    <div class="col-md-2">
      <h5 class="mb-1">{{ product.productName }}</h5>
      <p class="mb-0">{{product.nameComplete}}</p>
    </div>
    <div class="col-md-2 text-center">
      <input type="number" class="form-control text-center" [(ngModel)]="product.quantityAddedCart" min="1"
        max="{{ product.AvailableQuantity }}" (change)="onQuantityChange()">
    </div>
    <div class="col-md-2 text-center mt-2">
      <h5>Precio</h5>
      <p class="text-muted text-decoration-line-through mb-1">{{ product.price | currency:'USD':'symbol':'1.0-0'}}</p>
      <p class="fw-bold">{{ product.precioHype | currency:'USD':'symbol':'1.0-0'}}</p>
    </div>
    <div class="col-md-2 text-center">
      <h4>Subtotal</h4>
      <span class="fw-bold">{{ product.precioHype * product.quantityAddedCart | currency:'USD':'symbol':'1.0-0'}}</span>
    </div>
    <div class="col-md-2 text-center">
      <i class="uil uil-trash-alt cursor-pointer text-danger" (click)="onRemove()"></i>
    </div>
  </div>
</div>
